.plateau{
    background-color: rgb(213, 211, 255);
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 50%;
}

.image{
    margin: 5px;
}

.pointer:hover{
    cursor: pointer;
}