#pseudo{
    font-weight: bold;
    margin-left: 10px;
}


.plateau {
    background-color: rgb(213, 211, 255);
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 50%;
}

.image {
    margin: 5px;
}

.pointer:hover {
    cursor: pointer;
}

#myProgress {
    border: solid 2px #2B2B2B;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#myBar {
    background-color: #c60707;
    color: white;
    height: 30px;
    line-height: 30px; /* To center it vertically */
    text-align: center; /* To center it horizontally (if you want) */
    width: 1%;
}